<% provide(:title, "Sign in") %>

<%= content_tag(:h1, "Sign in") %>

<div class="row">
	<div class="col-md-6">
		<%= form_for :session, url: sessions_path do |f| %>
			<%= render 'shared/form_error', object: f.object %>
			<div class="form-group">
				<%= f.label :email %>
				<%= f.text_field :email, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control" %>
			</div>
			<div class="checkbox">
				<label>
					<%= f.check_box :remember %> Keep me logged in
				</label>
			</div>
			<div class="form-group">
				<%= f.submit "Login", data: {disable_with: "Attempting login"}, class: "btn btn-default" %>
			</div>
		<% end %>
	</div>

</div>