<% product=@products.find{|p| p.id==cart_item["product_id"]} %>
<div class="row" id="<%=id%>">
	<div class="col-md-offset-2 col-md-3">
		<%= product.name %>
	</div>
	<div class="col-md-2">
		<%= form_for :cart, url: cart_path(id), action: :update, method: :patch, remote: true, class: "form-inline" do |f| %>
			<div class="hidden"><%= f.submit "Save", class: "hidden" %></div>
			<div class="input-group">
				<div class="input-group-btn">
					<%= f.button "-", type: "submit", class: "btn btn-default", name: "change_quantity", value: "-" %>
				</div>
				<%= f.text_field :quantity, value: cart_item["quantity"], class: "form-control" %>
				<div class="input-group-btn">
					<%= f.button "+", type: "submit", class: "btn btn-default", name: "change_quantity", value: "+" %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-md-2">
		<%= button_to "Remove", {action: :destroy, id: id}, method: :delete, remote: true, class: "btn btn-default" %>
	</div>
</div>
