<%
options={}
options[:remote]=true if request.xhr?
%>
<%= form_for postage_service, options do |f| %>
	<%= render 'shared/form_error', object: f.object %>
	<div class="form-group">
		<%= f.label :name, class: "control-label" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="checkbox">
		<label>
			<%= f.check_box :default %>
			Default postage service
		</label>
	</div>
	<%= f.submit class: "btn btn-default" %>
<% end %>