<div id="<%= css_id(currency) %>" class="row">
	<div class="col-md-1">
		<%= currency.iso_code %>
	</div>
	<div class="col-md-1">
		<%= currency.symbol %>
	</div>
	<div class="col-md-1">
		<%= currency.decimal_places %>
	</div>
	<div class="col-md-3">
		<%= action_bar(currency, vertical: false, remote: true, title: nil) %>
	</div>
</div>
