<%= form_for @user, url: user_path do |f| %>
	<%= render 'shared/form_error', object: f.object %>
	<%= render 'name_fields', f: f %>
	<%= render 'password_fields', f: f %>
	<div class="form-group">
		<%= f.submit "Submit", data: {disable_with: 'Submitting...'}, class: "btn btn-default" %>
	</div>
<% end %>
