<% provide(:title, "Change password") %>

<%= content_tag(:h1, "Change password") %>


<%= form_for @user, url: update_password_user_path do |f| %>
	<div class="form-control">
		<%= f.label :old_password, class: "control-label" %>
		<%= f.password_field :old_password, class: "form-control" %>
	</div>
	<%= render 'password_fields', f: f %>
	<%= f.submit "Change password", data: {disable_with: "Changing password"},  class: "btn btn-default" %>
<% end %>
