<% cost_field||=:unit_cost %>
<div class="col-md-3 col-sm-4 col-xs-6">
	<div class="form-group">
	  <%= f.label :currency, class: "control-label" %>
	  <%= f.collection_select :currency_id, Currency.all, :id, :iso_code, {}, class: "form-control currency"%>
	</div>
</div>
<div class="col-md-9 col-sm-8 col-xs-6">
	<div class="form-group">
	  <%= f.label cost_field, class: "control-label" %>
	  <%= f.text_field cost_field, class: "form-control" %>
	</div>
</div>
<div class="col-md-12">
<p class="help-block">
<%=
begin
  t(:cost_description_html, scope: [params[:controller].gsub(/\//,'.'), params[:action]], raise: true)
rescue
  t('.cost_description_html')
end
%>
</p>
</div>
