<tr id="<%= css_id(stock_level) %>">
	<td><%= l(stock_level.due_at.in_time_zone(t("time.zone"))) %></td>
	<td><%= stock_level.expires_at.nil? ? "never" : l(stock_level.expires_at.in_time_zone(t("time.zone"))) %></td>
	<td><%= stock_level.start_quantity %></td>
	<td><%= stock_level.current_quantity %></td>
	<td><%= stock_level.allow_preorder? ? "yes" : "no" %></td>
	<td>
	<%= action_bar(stock_level, title: nil, vertical: false, class: "", except: [:edit]) do |a| %>
		<%= a.item "Orders", stock_level_orders_path(stock_level) %>
	<% end %>
	</td>
</tr>
