<div class="order_item order_status_<%= order.status%>" id="<%= css_id(order) %>">
	<div class="order_id">
		<%= link_to "Order ID: #{order.id}", seller_order_path(order) %>
		<%= mail_to order.user.email, "Buyer: #{order.user.email}" if order.user %> 
		<span class="order_status">
			Status: <%= order.class.human_attribute_name(order.status) %>
			<%= " on #{l(order.send(order.status + '_at').in_time_zone(t('time.zone')))}" if order.try(order.status+'_at') %>
		</span>
	</div>
	<div class="order_body">
		<div class="order_summary">
			<%= render partial: 'orders/line_item_summary', collection: order.line_items %>
		</div>
		<div class="order_total">
			<% if order.gift_card_value>0 %>
				<%= t('gift_card_redeemed', balance: to_currency(order.gift_card_value, order.currency)) %>
				<br />
			<% end %>
			Total cost: <%= cost_to_currency(order) %>
		</div>
		<div class="order_actions">
			<%= action_bar(dropdown: true) do |action| %>
				<% if order.stripe_charge_reference.present? %>
					<%= action.item t(".actions.charge"), charge_path(order.stripe_charge_reference) %>
					<li class="divider"></li>
				<% end %>
				<% if order.allowed_status_flows.any? %>
					<li class="dropdown-header"><%= t('.actions.change_status') %></li>
					<%= render 'seller/orders/order_status_form', order: order %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
