<div class="order_item order_status_<%= order.status%>" id="<%= css_id(order) %>">
	<div class="order_id">
		<%= link_to "Order ID: #{order.id}", seller_order_path(order) %>
		<%= mail_to order.user.email, "Buyer: #{order.user.email}" if order.user %> 
		<span class="order_status">
			Status: <%= order.status %>
		</span>
		<span class="status_date">
			<%= " on #{l(order.send(order.status + '_at').in_time_zone(t('time.zone')))}" if order.try(order.status+'_at') %>
		</span>
	</div>
	<div class="order_body">
		<div class="order_summary">
			<%= render partial: 'orders/line_item_summary', collection: order.line_items %>
		</div>
		<div class="order_total">
			Total cost: <%= cost_to_currency(order) %>
		</div>
		<div class="order_actions">
			<%= render 'seller/orders/order_status_form', order: order %>
		</div>
	</div>
</div>
