<%= form_for @order do |f| %>
  <%= render 'shared/form_error', object: f.object %>
  <div id="line_items" class="cart_container">
    <%= f.fields_for :line_items do |item| %>
      <div class="row">
        <%= item.hidden_field :product_id %>
        <div class="col-md-offset-2 col-md-3">
          <%= item.object.product.name %>
        </div>
        <div class="col-md-1">
          <%= item.number_field :quantity, class: "form-control"%>
        </div>
        <div class="col-md-2">
          <div class="checkbox">
            <label><%= item.check_box :_destroy %> Remove</label>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
