<div class="order_item order_status_<%= order.status%>">
	<div class="order_id">
		<%= link_to "Order ID: #{order.id}", order_path(order) %>
		<span class="order_status">
			Status: <%= order.class.human_attribute_name(order.status) %>
			<%= "on #{l(order.send(order.status + '_at').in_time_zone(t('time.zone')))}" if order.try(order.status+'_at') %>
		</span>
	</div>
	<div class="order_body">
		<div class="order_summary">
			<%= render partial: 'orders/line_item_summary', collection: order.line_items %>
		</div>
		<div class="order_total">
			<% if order.gift_card_value>0 %>
				<%= t('gift_card_redeemed', balance: to_currency(order.gift_card_value, order.currency)) %>
				<br />
			<% end %>
			Total cost: <%= cost_to_currency(order) %>
		</div>
		<div class="order_actions">
			<% if order.is_a? Cart %>
				<%= form_for order, url: set_current_order_path(order) do |f| %>
					<div class="btn-group-vertical">
						<%= f.submit "Continue this order", class: "btn btn-default" %>
						<%= f.submit "Checkout", class: "btn btn-primary" %>
					</div>
				<% end %>
			<% else %>
				<div class="btn-group-vertical">
					<%= link_to "Pay", pay_order_path(order), class: "btn btn-default" if order.allowed_status_flows.include? :paid %>
					<%= link_to "Cancel", cancel_order_path(order), method: :patch, class: "btn btn-danger" if order.allowed_status_flows.include? :cancelled %>
				</div>
			<% end %>
		</div>
	</div>
</div>
