<% selector=(mode+"_attributes").to_sym %>
<div class="address_wrapper">
	<div class="address_picker">
		<%= form_for [:update_address, @cart], remote: true, html: {class: "form-inline"} do |f| %>
		<% f.fields_for selector do |add| %>
		<div class="form-group">
			<%= add.label :source_address_id, mode.capitalize+" address", class: "control-label" %>
			<%= add.collection_select :source_address_id, current_user.addresses, :id, :label, {}, class: "form-control" %>
		</div>
		<% end %>
		<div class="btn-group">
			<%= link_to "Manage", addresses_path, class: "btn btn-default" %>
			<%= f.submit "Select", class: "btn btn-default" %>
		</div>
		<% end %>
	</div>
	<div class="order_address" id="<%= mode %>_address">
		<%= address.try(:address) %>
	</div>
</div>
