<% if cart.line_items.any? %>
	<%= form_for cart, remote: true do |f| %>
        <%= render 'shared/form_error', object: f.object %>
		<%= render 'shared/order_header' %>
		<%= f.fields_for :line_items, include_id: false do |li| %>
			<div class="row">
				<%= render 'line_items/line_item_fields', f: li %>
				<% if li.object.persisted? %>
					<div class="cart_save_button">
						<div class="checkbox">
							<label>
								<%= li.check_box :_destroy, data: {submit_on_change: true} %> Remove
							</label>
						</div>
					</div>
				<% end %>
				<%= #Manually include the id here otherwise it gets added to end and breaks nth styling css
				li.hidden_field :id if !li.object.id.nil? %>
			</div>
		<% end %>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="form-group">
					<%= f.label :postage_service, class: "control-label" %>
					<%= f.collection_select :postage_service_id, PostageService.all, :id, :name, {}, class: "form-control", data: {submit_on_change: true} %>
				</div>
			</div>
		</div>
		<%= render 'shared/order_footer', order: cart %>
		<div class="btn-group pull-right">
		    <%= link_to "Continue shopping", products_path, class: "btn btn-default" %>
		    <%= f.submit "Update basket", class: "btn btn-default" %>
		    <%= f.submit "Checkout", class: "btn btn-primary" %>
		</div>
	<% end %>

<% else %>
<%= content_tag(:h4, "Cart empty!") %>
<%= link_to "Go shopping", products_path, class: "btn btn-default" %>
<% end %>