<% provide(:title, "Checkout") %>

<%= content_tag(:h1, "Checkout") %>

<%= content_tag(:h4, "Please confirm the following order") %>

<%= content_tag(:h5, "Clicking confirm will take you to the payment page") %>

<div class="row">
	<%= render 'address_wrapper', address: @delivery_address, mode: "delivery" %>
	<%= render 'address_wrapper', address: @billing_address, mode: "billing" %>
</div>

<%= render 'table_header' %>

<%= render @cart.line_items %>

<%= render 'table_footer' %>

<div class="pull-right">
	<%= button_to "Confirm order", confirm_cart_path, method: :patch, class: "btn btn-primary btn_confirm" %>
</div>
