<% provide(:title, "Checkout") %>

<%= content_tag(:h1, "Checkout") %>

<%= content_tag(:h4, "Please confirm the following order") %>

<%= content_tag(:h5, "Clicking confirm will take you to the payment page") %>

<%= render 'shared/form_error', object: @cart %>

<div class="row">
	<%= render 'address_wrapper', address: @cart.delivery, mode: :delivery %>
	<%= render 'address_wrapper', address: @cart.billing, mode: :billing %>
</div>

<%= render 'shared/order_header' %>

<%= render @cart.line_items %>

<%= render 'shared/order_footer', order: @cart %>

<div class="pull-right">
	<%= button_to "Confirm order", confirm_cart_path, method: :patch, class: "btn btn-primary btn_confirm" %>
</div>
