<% provide(:title, "View cart") %>

<%= content_tag(:h1, "Shopping cart") %>

<%= form_for @cart do |f| %>
	<%= render 'table_header' %>
	<%= f.fields_for :line_items do |li| %>
		<div class="row">
			<%= render 'line_items/line_item_fields', f: li %>
		</div>
	<% end %>
	<%= render 'table_footer' %>
	<div class="btn-group pull-right">
	    <%= link_to "Continue shopping", products_path, class: "btn btn-default" %>
	    <%= f.submit "Update basket", class: "btn btn-default" %>
	    <%= f.submit "Checkout", class: "btn btn-primary" %>
	</div>
<% end %>