<%= content_tag(:h1, "Your order has been dispatched!") %>

<p>Dear <%= @user.name %>,</p>
<p>Your order <%= link_to "##{@order.id}", order_url(@order) %> has been dispatched and is winging its way to you.<p>

<p>Here's a quick summary of your order:</p>
<table>
	<thead>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
		</tr>
	</thead>
	<tbody>
		<%= render partial: 'line_item', collection: @order.line_items %>
	</tbody>
</table>

<p>More details on your order can be found here: <%= link_to order_url(@order), order_url(@order) %></p>