<div class="address_entry" id="<%= css_id(address) %>">
	<div class="address_label">Label: <%= address.label %></div>
	<div class="address_body">
		<%= action_bar address, title: nil, vertical: false %>
	  <address class="address_address"><%= simple_format address.address %></address>
	  <div class="address_default_billing"><%= "Default billing address" if address.default_billing? %></div>
	  <div class="address_default_delivery"><%= "Default delivery address" if address.default_delivery? %></div>
	</div>
</div>

