<%= form_for product do |f| %>
	<%= render 'shared/form_error', object: f.object %>
	<div class="form-group">
		<%= f.label :name, class: "control-label" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :description, class: "control-label" %>
		<%= f.text_area :description, class: "form-control" %>
	</div>
	<div class="image_list">
		<%= f.fields_for :images do |image| %>
			<%= render 'images_fields', f: image %>
		<% end %>
	</div>
	<div class="form-group">
		<%= f.submit "Submit", data: {disable_with: 'Submitting...'}, class: "btn btn-default" %>
	</div>
<% end %>