<% provide(:title, @product.name) %>

<%= action_bar(@product, title: "Seller actions") do |a| %>
	<%= a.item "Stock levels", product_stock_levels_path(@product) %>
	<%= a.item "Sub products", product_sub_products_path(@product) %>
<% end if signed_in_seller? %>

<%= content_tag(:h1, @product.name) %>

<div class="row">
	<div class="product_page_image_box">
		<%= render 'image_carousel', product: @product %>
	</div>
	<div class="product_page_description">
		<%= @description.to_html.html_safe if @description %>
	</div>
	<div class="product_page_cost">Price: <%= cost_to_currency(@product) %></div>
	<div class="product_page_buy">
		<%= render 'add_to_cart', object: @product %>
	</div>
</div>
