<div class="cart_product">
        <%= render 'shared/form_error', object: f.object %>
	<div class="form-group">
	<label class="label-control"><%= f.object.product.name %></label>
	<% if @stock_level.try(:due_at) and @stock_level.due_at>DateTime.now %>
		<p class="help-block">This item is available for pre-order with stock due on <%= l(@stock_level.due_at.in_time_zone(t('time.zone')).to_date) %></p>
	<% end %>
	</div>
	<% collection=(f.object.product.master_product.try(:sub_products) || f.object.product.sub_products) %>
	<% if collection.any? %>
	<div class="form-group">
		<%= f.collection_select :product_id, collection.all, :id, :name, {include_blank: true}, class: "form-control", data: {submit_on_change: true} %>
	</div>
	<% else %>
		<%= f.hidden_field :product_id %>
	<% end %>
</div>
	<div class="cart_actions form-group">
		<%= f.text_field :quantity, value: f.object.quantity, class: "form-control", data: {submit_on_change: true} %>
	</div>
<div class="cart_line_item text-right">
	<%= cost_to_currency(f.object.product) %>
</div>
<div class="cart_line_cost text-right">
	<%= cost_to_currency(f.object) %>
</div>
<% if f.object.persisted? %>
<div class="cart_save_button">
	<div class="checkbox">
		<label>
			<%= f.check_box :_destroy, data: {submit_on_change: true} %> Remove
		</label>
	</div>
</div>
<% end %>
