<div class="row" id="<%=css_id(line_item_form)%>">
<%= form_for line_item_form, remote: true, html: {class: "form-inline"} do |f| %>
	<% if f.object.errors.any? %>
		<%= render 'shared/form_error', object: f.object %>
	<% end %>
	<%= render 'line_items/line_item_fields', f: f %>
	<div class="cart_save_button">
		<%= f.submit class: "btn btn-default" %>
	</div>
<% end %>
</div>
