<div class="row" id="<%=css_id(line_item)%>">
<%= form_for line_item, remote: true, html: {class: "form-inline"} do |f| %>
	<div class="cart_product">
		<div class="form-group">
		<label class="label-control"><%= line_item.product.name %></label>
		<%= f.hidden_field :product_id %>
		</div>
	</div>
	<div class="cart_actions">
		<div class="form-group">
			<%= f.text_field :quantity, value: line_item.quantity, class: "form-control" %>
		</div>
	</div>
	<div class="cart_line_item text-right">
		<%= cost_to_currency(line_item.product.cost) %>
	</div>
	<div class="cart_line_cost text-right">
		<%= line_item.product.cost.currency.symbol %>
		<span id="total_cost_<%=css_id(line_item)%>">
		<%= number_to_human(line_item.cost.value) if line_item.cost %>
		</span>
	</div>
	<div class="cart_save_button">
		<%= f.submit "Save", class: "btn btn-default" %>
	</div>
<% end %>
</div>
<!--
		<div class="col-md-6">
			<%= button_to "Remove", {action: :destroy, id: id}, method: :delete, remote: true, class: "btn btn-default" if !line_item.new_record? %>
		</div>	
-->
