<div class="user" id="<%= css_id(user) %>">
	<div class="user_name">
		<%= user.name %>
	</div>
	<div class="user_email">
		<%= mail_to user.email, user.email %>
	</div>
	<div class="user_actions">
		<%= action_bar(vertical: false, title: nil, remote: true) do |action| %>
			<%= action.item(t('.issue_gift_card'), new_seller_user_gift_card_path(user)) %>
			<%= action.item(t('.orders'), seller_user_orders_path(user)) %>
			<%= action.item(t('.allocations'), seller_user_allocations_path(user)) %>
		<% end %>
	</div>
</div>