<%
charge=charge_and_order[:charge]
order=charge_and_order[:order]
reconcile_result=charge_and_order[:reconcile_result]
%>
<div class="panel panel-default" id="<%= charge.id %>">
	<div class="panel-heading">
		Charge ref: <%= charge.id %>
		<%= action_bar charge, except: [:edit, :delete], dropdown: true do |a| %>
			<%= a.item "Refund", refund_charge_path(charge.id), method: :patch, data: {confirm: "Refund this charge?"} %>
		<% end %>
	</div>
	<div class="panel-body">
		Paid: <%= charge.paid %><br/>
		Currency: <%= charge.currency %><br/>
		Amount: <%= charge.amount %><br/>
		In dispute: <%= charge.dispute ? "yes" : "no" %><br/>
		Refunded: <%= charge.refunded ? "yes" : "no" %><br/>
		<% if reconcile_result %>
			<div>
			Reconciliation result:<br/>
			<%= render_result(reconcile_result) %>
			</div>
		<% end %>
		<% if order %>
			Order: <%= render order %>
		<% else %>
			Order missing!
		<% end %>
	</div>
</div>
